@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/wintry';
@import '@fontsource/fira-mono';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@plugin '@tailwindcss/forms';

:root {
	--color-bg: hsl(223, 28%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.9);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	color: var(--color-text);
}

body {
	overflow: hidden;
	height: 100%;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg);
	background-size: 100vw 100vh;
}